/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 600;
}

body {
  background-color: #e5e5e5;
  color: #2d3a45;
  font-family: "SFProDisplay", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
